{{>header}}
    {{>navbar}}
    <div class="container-fluid p-0 bg-img" >
        <img src="img/study4.png" alt="Image">
    
        <div class="caption">
            <p>Best<span> Online</span> Education Expertise!</p>
                 <button class="btn btn-light">Read More</button>
        </div>
        
    </div>
   
{{>contactus}}
{{>courses}}
{{>about}}
{{>services}}
{{>testimonials}}
{{>pages}}
{{>footer}}