<div class="container-fluid pt-3">
  <div class="container pt-0 pt-lg-4">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img class="img-fluid" src="img/student.png" alt="" />
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
        <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Learn
          About Us</h6>
        <h1 class="mb-4">Benefits About Online Learning Expertise</h1>
        <h5 class="font-weight-medium font-italic mb-4">Clita sit et ipsum sed.
          Volup duo sea dolor rebum ea rebum kasd stet. Dolor at duo dolor sit
          stet.</h5>
        <p class="mb-2">Invidunt lorem justo sanctus clita. Erat lorem labore
          ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea
          justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
          dolor</p>
        <div class="row">
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <p class="text-secondary font-weight-medium m-0">Quality Training</p>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <p class="text-secondary font-weight-medium m-0">Verified
                Certifications</p>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <p class="text-secondary font-weight-medium m-0">Highly
                Professional Staff</p>
            </div>
          </div>
          <div class="col-sm-6 pt-3">
            <div class="d-flex align-items-center">
              <i class="fa fa-check text-primary mr-2"></i>
              <p class="text-secondary font-weight-medium m-0">100% Satisfaction
                Gguarantee</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center my-5 bg-blue p-4">

      <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
        <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Our
          Features</h6>
        <h1 class="mb-4">Benefits About Online Learning Expertise</h1>
        <h5 class="font-weight-medium font-italic mb-4">Clita sit et ipsum sed.
          Volup duo sea dolor rebum ea rebum kasd stet. Dolor at duo dolor sit
          stet.</h5>
        <p class="mb-2">Invidunt lorem justo sanctus clita. Erat lorem labore
          ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea
          justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
          dolor</p>
        <p class="mb-2">Invidunt lorem justo sanctus clita. Erat lorem labore
          ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea
          justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
          dolor</p>

      </div>

      <div class="col-lg-5">
        <img class="img-fluid" src="img/blog-1.jpg" alt="" />
      </div>
    </div>

  </div>
</div>