<div class="container-fluid contact-info mt-5 mb-4">
  <div class="container" style="padding: 0 30px;">
    <div class="row">
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0"
        style="height: 100px;"
      >
        <div class="d-inline-flex">
          <i class="fa fa-2x fa-map-marker-alt text-white m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="text-white font-weight-medium">Our Location</h5>
            <p class="m-0 text-white">401, Sudharatna, Pune, India</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-primary mb-4 mb-lg-0"
        style="height: 100px;"
      >
        <div class="d-inline-flex text-left">
          <i class="fa fa-2x fa-envelope text-white m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="text-white font-weight-medium">Email Us</h5>
            <p class="m-0 text-white">sonudutta@gmail.com</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-secondary mb-4 mb-lg-0"
        style="height: 100px;"
      >
        <div class="d-inline-flex text-left">
          <i class="fa fa-2x fa-phone-alt text-white m-0 mr-3"></i>
          <div class="d-flex flex-column">
            <h5 class="text-white font-weight-medium">Call Us</h5>
            <p class="m-0 text-white">+91 8345 6789</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>