<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 pl-3 pl-lg-5"
    >
      <a href="" class="navbar-brand">

        <h1 class="m-0 text-secondary"><span
            class="text-primary"
          >Study</span>Point</h1>
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-between px-3"
        id="navbarCollapse"
      >
        <div class="navbar-nav ml-auto py-0">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="/about" class="nav-item nav-link">About</a>
          <a href="/services" class="nav-item nav-link">Services</a>
          <a href="/register" class="nav-item nav-link">Register</a>
          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
            >Pages</a>
            <div class="dropdown-menu border-0 rounded-0 m-0">
              <a href="/page1" class="dropdown-item">Blog Grid</a>
              <a href="/page2" class="dropdown-item">Blog Detail</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>