<div class="container-fluid mt-5 pb-2">
  <div class="container">
    <h6
      class="text-secondary text-uppercase text-center font-weight-medium mb-3"
    >Our Blog</h6>
    <h1 class="display-4 text-center mb-5">Latest From Blog</h1>
    <div class="row">
      <div class="col-lg-4 mb-2">
        <div class="mb-4">
          <div class="position-relative">
            <img class="img-fluid w-100" src="img/study2.png" alt="" />
            <a
              href=""
              class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center text-decoration-none p-4"
              style="top: 0; left: 0; background: rgba(0, 0, 0, .4);"
            >

              <div class="d-flex text-light">
                <small class="mr-2"><i class="fa fa-user text-secondary"></i>
                  Admin</small>
                <small class="mr-2"><i class="fa fa-folder text-secondary"></i>
                  Web Design</small>
                <small class="mr-2"><i
                    class="fa fa-comments text-secondary"
                  ></i>
                  15</small>
              </div>
            </a>
          </div>
          <p class="m-0 p-4">Amet dolores labore magna et amet tempor dolor et
            dolor. Et sit ipsum et eos rebum labore ea labore sea. Et sed elitr
            labore sed labore. Lorem et lorem amet sed sed kasd ipsum rebum</p>
        </div>
      </div>
      <div class="col-lg-4 mb-2">
        <div class="mb-4">
          <div class="position-relative">
            <img class="img-fluid w-100" src="img/bookstore.jpg" alt="" />
            <a
              href=""
              class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center text-decoration-none p-4"
              style="top: 0; left: 0; background: rgba(0, 0, 0, .4);"
            >

              <div class="d-flex text-light">
                <small class="mr-2"><i class="fa fa-user text-secondary"></i>
                  Admin</small>
                <small class="mr-2"><i class="fa fa-folder text-secondary"></i>
                  Web Design</small>
                <small class="mr-2"><i
                    class="fa fa-comments text-secondary"
                  ></i>
                  15</small>
              </div>
            </a>
          </div>
          <p class="m-0 p-4">Amet dolores labore magna et amet tempor dolor et
            dolor. Et sit ipsum et Lorem et lorem amet sed sed kasd ipsum rebum
            eos rebum labore ea labore sea. Et sed elitr labore sed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 mb-2">
        <div class="mb-4">
          <div class="position-relative">
            <img class="img-fluid w-100" src="img/study1.png" alt="" />
            <a
              href=""
              class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center text-decoration-none p-4"
              style="top: 0; left: 0; background: rgba(0, 0, 0, .4);"
            >

              <div class="d-flex text-light">
                <small class="mr-2"><i class="fa fa-user text-secondary"></i>
                  Admin</small>
                <small class="mr-2"><i class="fa fa-folder text-secondary"></i>
                  Web Design</small>
                <small class="mr-2"><i
                    class="fa fa-comments text-secondary"
                  ></i>
                  15</small>
              </div>
            </a>
          </div>
          <p class="m-0 p-4">Amet dolores labore magna et amet tempor dolor et
            dolor. Et sit ipsum et eos rebum labore ea labore sea. Et sed elitr
            labore sed labore. Lorem et lorem amet sed sed kasd ipsum rebum</p>
        </div>
      </div>
    </div>
  </div>
</div>