<div class="container-fluid pt-5 pb-3 bg-blue">
  <div class="container">
    <h6
      class="text-secondary text-uppercase text-center font-weight-medium mb-3"
    >Our Services</h6>
    <h1 class="display-4 text-center mb-5">What We Offer</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px;"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <i class="fa fa-3x fa-desktop text-secondary"></i>
          </div>
          <h4 class="font-weight-bold m-0 text-info">Free Courses</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px;"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <i class="fas fa-3x fa-code text-secondary"></i>
          </div>
          <h4 class="font-weight-bold m-0 text-info">Coding Practices</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px;"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <i class="fa fa-3x fa-code-branch text-secondary"></i>
          </div>
          <h4 class="font-weight-bold m-0 text-info">Experts Guide</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-1">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center bg-light mb-4 px-4"
          style="height: 300px;"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center bg-white shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <i class="fa fa-3x fa-file text-secondary"></i>
          </div>
          <h4 class="font-weight-bold m-0 text-info">Notes</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-0 my-lg-5 pt-0 pt-lg-5 pr-lg-5">
        <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Our
          Features</h6>
        <h1 class="mb-4">Why Choose Us</h1>
        <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor
          lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo
          sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
        <div class="row">
          <div class="col-sm-6 mb-4">
            <h1 class="text-secondary" data-toggle="counter-up">10</h1>
            <h5 class="font-weight-bold">Years Expereince</h5>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-secondary" data-toggle="counter-up">250</h1>
            <h5 class="font-weight-bold">Expert Trainer</h5>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-secondary" data-toggle="counter-up">1250</h1>
            <h5 class="font-weight-bold">Projects</h5>
          </div>
          <div class="col-sm-6 mb-4">
            <h1 class="text-secondary" data-toggle="counter-up">9550</h1>
            <h5 class="font-weight-bold">Courses</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div
          class="d-flex flex-column align-items-center justify-content-center bg-secondary h-100 py-5 px-3"
        >
          <i class="fa fa-5x fa-certificate text-white mb-5"></i>
          <h1 class="display-1 text-white mb-3">10+</h1>
          <h1 class="text-white m-0">Years Experience</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-5 bg-blue">
  <div class="container">
    <h1 class="display-4 text-center mb-5">Top Courses</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <img class="img-fluid w-100" src="img/o1.png" alt="" />
          </div>
          <h3 class="font-weight-bold m-0 mt-2">UI/UX Designer</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <img class="img-fluid w-100" src="img/o12.png" alt="" />
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Web Developer</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <img class="img-fluid w-100" src="img/o11.png" alt="" />
          </div>
          <h3 class="font-weight-bold m-0 mt-2">MERN</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="d-flex flex-column align-items-center justify-content-center text-center mb-5"
        >
          <div
            class="d-inline-flex align-items-center justify-content-center shadow rounded-circle mb-4"
            style="width: 100px; height: 100px;"
          >
            <img class="img-fluid w-100" src="img/o4.png" alt="" />
          </div>
          <h3 class="font-weight-bold m-0 mt-2">Data Science</h3>
        </div>
      </div>
    </div>
  </div>
</div>